html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI Adjusted', 'Segoe UI', 'Liberation Sans', sans-serif;
  font-weight: normal;
}
:root {
  --dark-background: hsl(0deg 0% 18%);
  --light-background: #dae0e6;
  --theme-dark-text: hsl(210deg 8% 70%);
  --theme-light-text: rgb(255, 255, 255);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
